body {
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: #fff;
    background-image: url("./flamingskull.gif");
    padding: 4rem;
}

h1 {
    text-align: center;
}

.content {
    background-color: #333;
    width: 130%;
    text-align: center;
    color: yellow;
}

.img {
    margin: 0 auto;
    text-align: center;
    color: white;
}

.cc {
    width: 260px;
    height: 480px;
}

marquee {
    font-size: 2rem;
}