body {
    font-family: "Comic Sans MS", cursive, sans-serif;
    color: #fff;
    padding: 0;
    background-color: #fff;
    box-sizing: border-box;
    margin: 0;
    overflow-x: hidden;
}

.x {
    background-image: url("./flamingskull.gif");
    margin: 0;
    padding: 2rem;
    opacity: 1;
    transition: all 2s linear;
    width: 100%;
}

.scrolled {
    opacity: 0;
}

h1 {
    text-align: center;
}

.content {
    background-color: #333;
    text-align: center;
    color: yellow;
}

.img {
    margin: 0 auto;
    text-align: center;
    color: white;
}

.cc {
    width: 260px;
    height: 480px;
}

marquee {
    font-size: 2rem;
}

.zxcv {
    font-family: 'Kumar One', cursive;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: table;
    color: #ccc;
    z-index: -999;
    text-align: center;
    font-size: 4rem;
    line-height: 3rem;
    text-shadow: 1px 1px 2px black;
}

.zxcv p {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}