html,
body {
    height: 100%;
    font-family: 'Trocchi', serif;
    margin: 0;
    padding: 0;
}

@-webkit-keyframes animated {
    0% {
        transform: rotateY(20deg) skewY(5deg);
    }
    100% {
        transform: none;
    }
}

@-moz-keyframes animated {
    0% {
        transform: rotateY(20deg) skewY(5deg);
    }
    100% {
        transform: none;
    }
}

@-o-keyframes animated {
    0% {
        transform: rotateY(20deg) skewY(5deg);
    }
    100% {
        transform: none;
    }
}

@keyframes animated {
    0% {
        transform: rotateY(20deg) skewY(5deg);
    }
    100% {
        transform: none;
    }
}

canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

section {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chart-wrapper {
    width: 800px;
    height: 80%;
    margin: 0 auto;
    background-color: white;
    padding: 2em;
}

.section--one {
    background-color: rgb(6, 64, 93);
    background: url('./b-w.jpg');
    background-size: cover;
}

.text {
    text-align: center;
}

.text--leading {
    font-size: 3.8rem;
    color: rgb(229, 231, 235);
    padding: 4em;
    animation: animated 5s infinite alternate;
    -webkit-animation: animated 5s infinite alternate;
    -moz-animation: animated 5s infinite alternate;
    -o-animation: animated 5s infinite alternate;
}

.text--skills {
    font-size: 1.4em;
    color: rgb(26, 33, 57);
}

.warning {
    display: none;
    position: fixed;
    color: white;
    font-size: 3rem;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    text-align: center;
}

@media screen and (max-width: 800px) {
    .text--leading {
        font-size: 1.8rem;
        padding: 1em;
    }
}